<!DOCTYPE html>
<html>
<head>
<title>Book My Hall</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 0px;
}
.w3-xxlarge {
    font-size: 75px!important;
    padding-bottom: 800px;
}
.w3-opacity-min {
    opacity: 30.75;
}
.w3-text-grey, .w3-hover-text-grey:hover, .w3-text-gray, .w3-hover-text-gray:hover {
    color: #e600a8!important;
}
.submit-btn {
  display: block;
  border: none;
  outline: none;
  background: #629e3c;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.test{
color: transparent
text-shadow: 0 0 5px rgba(0,0,0,0.5);}
</style>
</head>
<body>

<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="/" class="w3-bar-item w3-button">Book My Hall</a>
    <div class="w3-right w3-hide-small">
      <a href="/" class="w3-bar-item w3-button">Home</a>
      <a href="/profilePg.html" class="w3-bar-item w3-button">Profile</a>
      <a href="/contact_us.html" class="w3-bar-item w3-button">Contact</a>
      <a href="/signup.html" class="w3-bar-item w3-button">{{result[2]}}</a>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
  <img class="w3-image" src="data:image/jpeg;charset=utf-8;base64,{{result[0][15]}}" alt="Hamburger Catering" width="1600" height="800">
  <div class="w3-display-bottomleft w3-padding-large w3-opacity">
    <h1 class="w3-xxlarge">{{result[1][1]}}</h1>
  </div>
</header>
<div class="w3-content" style="max-width:1100px">

  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="data:image/jpeg;charset=utf-8;base64,{{result[0][1]}}" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">About {{result[1][1]}}</h1><br>
      <h5 class="w3-center">{{result[1][8]}}</h5>
      <p class="w3-large">{{result[1][8]}}</p>
    </div>
  </div>

  <hr>

  <!-- Menu Section -->
  <div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col l6 w3-padding-large">
      <h1 class="w3-center">Our Services</h1><br>
      <h4>Buffet</h4>
      <p class="w3-text-grey">{{result[4][0]}}</p><br>

      <h4>Reception</h4>
      <p class="w3-text-grey"> {{result[4][1]}}</p><br>

      <h4>Cafeteria-Style</h4>
      <p class="w3-text-grey">{{result[4][2]}}</p><br>

      <h4>Safety Measures</h4>
      <p class="w3-text-grey"> {{result[4][3]}}</p><br>

      <h4>Additional Services</h4>
      <p class="w3-text-grey"> {{result[4][4]}}</p><br>

      <h4>Hall Capacity</h4>
      <p class="w3-text-grey">There will be {{result[1][5]}} people are around at a time.</p>
    </div>

    <div class="w3-col l6 w3-padding-large">
      <img src="data:image/jpeg;charset=utf-8;base64,{{result[0][5]}}" class="w3-round w3-image w3-opacity-min" alt="Menu" style="width:100%">
    </div>
  </div>

  <hr>

  <div class="w3-container w3-padding-64" id="contact">
    <h1>Contact</h1><br>
    <p>We offer full-service catering for any event, large or small. We understand your needs and we will cater the food to satisfy the biggerst criteria of them all, both look and taste. Do not hesitate to contact us.</p>
    <p class="w3-text-blue-grey w3-large"><b>Wedding Event & Catering Service, {{result[1][7]}}</b></p>
    <p>You can also contact us by phone {{result[1][3]}} or email {{result[1][4]}}, or you can send us a message here:</p>
    <form action="/queries" target="_blank" method="POST">
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-16" type="text"  placeholder="Email" required name="Email" value = {{result[3]}}></p>
      <p><input class="w3-input w3-padding-16" type="number" placeholder="How many people" required name="People"></p>
      <p><input class="w3-input w3-padding-16" type="datetime-local" placeholder="Date and time" required name="date" value="2020-11-16T20:00"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Message \ Special requirements" required name="Message"></p>
      <input type="submit" value="Book HALL" class="submit-btn" />
    </form>
  </div>

</div>

<footer class="w3-center w3-light-grey w3-padding-32">
  <p>Powered by <a href="/home.html" title="bookmyhall.com" target="_blank" class="w3-hover-text-green">bookmyhall.com</a></p>
</footer>

</body>
</html>
